@font-face{
	font-family: "Gravity-Regular";
	src: url('../Fonts/Gravity-Regular.otf');
}
@font-face{
	font-family: "Gravity-Book";
	src: url('../Fonts/Gravity-Book.otf');
}
@font-face{
	font-family: "Gravity-Light";
	src: url('../Fonts/Gravity-Light.otf');
}
@font-face{
	font-family: "Gravity-UltraLight";
	src: url('../Fonts/Gravity-UltraLight.otf');
}