/*Css for the main page of the website 2.0 by Alexander Waters*/


.about-me{
  width:100%;
  background-color: #D3c0cd;
}

.Center{
    text-align: center;
}

.content-about{
  padding-top: 130px;
  padding-bottom: 130px;
}

.description{
  color: #3d3a4b;
  text-align: justify;
  padding-top: 50px;
  padding-left: 150px;
  padding-right: 0px;
}

.text-White{
  color: #ffffff;
}

.HomeMain{
  height: 100%;
}

.HomeScreen{
  background-image: url(../Images/HeadPh.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  height: 100vh;
  width: 100vw;
  max-width: 100%
}

.noPadding{
  padding: 0px;
}

.noMargin{
  margin: 0px;
}

.profile{
  height: 20vw;
}


.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.test{
  height: 50vh !important;
  width: 50vw  !important;
}
